<main>
   <h1>Hello world</h1>
   <h1>Second</h1>
   <h1>3 title</h1>
   <hr>
   <div class="display-1">Hello world "display-1"</div>
    <div class="display-1" class="text-muted" >Hello world "display-1" class="text-muted"</div>
   <div class="display-5">Second  "display-5"</div>
   <div class="display-6">3 title  "display-6"</div>
   <hr>
   <div class="text-end">
    <span class="text-muted">додатковий текст "text-muted"</span>
   </div>
   <span class="text-muted">додатковий текст "text-muted"</span>
   <div class="text-end text-muted">
    додатковий<span class="display-6">текст</span>
   </div>
    <hr>
    <h1 class="text-centr">Hello world class="text-centr"</h1>
   <h1 class="text-end">Second class="text-end"</h1>
   <hr>
   <h1 class="text-uppercase">Hello world</h1>
   <h1 class="text-lowercase">Second</h1>
   <h1 class="text-capitalize">3 title plus</h1>
   <hr>
   <button class="btn btn-primary">
    <span class="text-uppercase">Основна кнопка btn-primary</span>
    <h1>Test</h1>
   </button>
   <br>
   <button class="btn btn-secondary"> Додаткові дії сірий колір btn-secondary</button>
   <br>
   <button class="btn btn-success"> Зелений успішний колір btn-success</button>
   <br>
   <button class="btn btn-danger"> Небеспечний червоний колір btn-danger</button>
   <br>
   <button class="btn btn-warning"> Перевірка попередження жовтий колір btn-warning</button>
   <br>
   <button class="btn btn-info"> Інформація блакитний колір дії btn-info</button>
   <br>
   <button class="btn btn-light"> Світлий колір базова прозора дії btn-light</button>
   <br>
   <button class="btn btn-dark"> Темний колір базова темна btn-dark</button>
   <br>
   <button class="btn btn-link"> Кнопка з виглядом посилання btn-link</button>
   <br>
   <a href="#" class="btn btn-primary"> Кнопка є посиланє a href="#" class="btn btn-primary"</a>
   <hr>
   <p class="text-primary">p class="text-primary"</p>
   <p class="text-success">class="text-success"</p>
   <p class="text-secondary">class="text-secondary"</p>
   <p class="text-danger">class="text-danger"</p>
   <p class="text-warning">class="text-warning"</p>
   <p class="text-info">class="text-info"</p>
   <p class="text-light">class="text-light"</p>
   <p class="text-dark">class="text-dark"</p>
   <hr>
   <b>Додаткові кнопки</b>
   <button class="btn btn-outline-primary"> Додаткові дії сірий колір btn-outline-primary</button>
   <br>
   <button class="btn btn-outline-secondary"> Додаткові дії сірий колір btn-outline-secondary</button>
   <br>
   <button class="btn btn-outline-success"> Зелений успішний колір btn-outline-success</button>
   <br>
   <button class="btn btn-outline-danger"> Небеспечний червоний колір btn-outline-danger</button>
   <br>
   <button class="btn btn-outline-warning"> Перевірка попередження жовтий колір btn-outline-warning</button>
   <br>
   <button class="btn btn-outline-info"> Інформація блакитний колір дії btn-outline-info</button>
   <br>
   <button class="btn btn-outline-light"> Світлий колір базова прозора дії btn-outline-light</button>
   <br>
   <button class="btn btn-outline-dark"> Темний колір базова темна btn-outline-dark</button>
   <hr>
   <button class="btn btn-outline-primary btn-lg"> Велика кнопка btn-outline-primary btn-lg</button>
   <br>
   <button class="btn btn-outline-secondary btn-sm"> мала кнопка btn-outline-secondary btn-sm</button>
   <br>
   <button class="btn btn-outline-dark"> звичайна кнопка btn-outline-dark</button>
   <hr>
   <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary btn-lg"> Велика кнопка btn-outline-primary btn-lg</button>
            <br>
            <br>
            <button class="btn btn-outline-secondary btn-sm"> мала кнопка btn-outline-secondary btn-sm</button>
            <br>
            <br>
            <button class="btn btn-outline-dark"> звичайна кнопка btn-outline-dark</button>
            <br>
        </div>
   </div>
   <br>
   <br>
    <div class="card">
        <div class="card-body">
            This is content
        </div>
   </div>
   <div class="card">
        <div class="card-body">
            This is content
            <br>
            <button class="btn btn-outline-primary btn-lg">Велика</button>
            <button class="btn btn-outline-secondary btn-sm"> мала</button>
            <button class="btn btn-outline-dark">звичайна</button>
        </div>
   </div>
    <hr>
    <br>
</main>
<main class="row gy-5">
    <section class="coi-6">
        <div class="card text-bg-darck">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
                <div class="card-body">
                    <h5 class="card-title">Produkt #333365857</h5>
                    <p>Телевизор Xiaomi Mi TV Q1E 55"</p>
                    <a href="/summary" class="btn btn-primary">Open</a> 
                </div>
        </div>
   </section>
   <br>
   <br>
   <div class="list-group">
        <div class="list-group-item">Item 1</div>
        <div class="list-group-item">Item 2</div>
        <div class="list-group-item">Item 3</div>
   </div>
   <br>
   <br>
   <ul class="list-group">
        <li class="list-group-item">Item 1
            <ul class="list-group">
                <li class="list-group-item">Item 1.1</li>
                <li class="list-group-item">Item 1.2</li>
            </ul>
        </li>
        <li class="list-group-item">Item 2</li>
        <li class="list-group-item">Item 3</li>
   </ul>
    <br>
    <br>
    <h5>Menu</h5>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#" class="btn btn-link">Home pape</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="btn btn-link">SummeryS pape</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="btn btn-link">Skills pape</a>
        </li>
   </ul>
   <br>
    <br>
    <div class="card text-bg-primary">
        <div class="card-header">
            <div class="card-title">Menu</div>
        </div>
        <ul class="list-group list-group-fiush text-bg-primary">
            <li class="list-group-item text-bg-info">
                <a href="#" class="btn btn-link">Home pape</a>
            </li>
            <li class="list-group-item text-bg-danger">
                <a href="#" class="btn btn-link">SummeryS pape</a>
            </li>
            <li class="list-group-item text-bg-warning">
                <a href="#" class="btn btn-link">Skills pape</a>
            </li>
        </ul>
        <div class="card-footer">
            <button class="btn btn-dark btn-sm">Update list</button>
        </div>
   </div>
   <br>
    <br>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Jhon</th>
                <th>35</th>
            </tr>
            <tr>
                <th>2</th>
                <th>Alex</th>
                <th>47</th>
            </tr>
            <tr>
                <th>3</th>
                <th>Piter</th>
                <th>45</th>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <div class="card text-bg-dark">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title text-bg-primary">Produkt #333365857</h5>
            <p class="text-bg-info">Телевизор Xiaomi Mi TV <br> Q1E 55"</p>
            <a href="/summary" class="btn btn-primary">Open</a> 
        </div>
   </div>
   <br>
    <br>
    <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div> 
    <br>
    <br> 
    <div class="row">
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>   
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>   
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>   
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>   
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
    </div> 
    <br>
    <br>
    <br>
    <div class="row gx-5 gy-2">
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>   
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>   
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>   
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>   
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        <div class="col-5">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>   
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
    </div> 
    <section class="col-6">
        <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Jhon</th>
                <th>35</th>
            </tr>
            <tr>
                <th>2</th>
                <th>Alex</th>
                <th>47</th>
            </tr>
            <tr>
                <th>3</th>
                <th>Piter</th>
                <th>45</th>
            </tr>
        </tbody>
    </table>
    </section>
    <section class="col-6">
        <h5>Menu</h5>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#" class="btn btn-link">Home pape</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="btn btn-link">SummeryS pape</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="btn btn-link">Skills pape</a>
        </li>
   </ul>
    </section>
    <section class="col-12">
        <div class="row gx-5 gy-2">
            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <p>This is content of our box</p>
                        <button class="btn btn-light">Click!</button>
                    </div>   
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <p>This is content of our box</p>
                        <button class="btn btn-light">Click!</button>
                    </div>   
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <p>This is content of our box</p>
                        <button class="btn btn-light">Click!</button>
                    </div>   
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <p>This is content of our box</p>
                        <button class="btn btn-light">Click!</button>
                    </div>   
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <p>This is content of our box</p>
                        <button class="btn btn-light">Click!</button>
                    </div>   
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div> 
    </section>
     <hr>
    <div class="row">
        <div class="col-12 mb-5">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="/skills" class="nav-link">Main</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link active">Catalog</a>
                </div>
                <div class="nav-item ">
                    <a href="#" class="nav-link disabled">Shop List</a>
                </div>
            </div>
        </div>   
    </div>
    <br>
    <br>
    <div class="card">
        <div class="nav">
            <div class="nav-item">
                <a href="#" class="nav-link">Home peg</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link active">Bootstrap</a>
            </div>
            <div class="nav-item ">
                <a href="#" class="nav-link disabled">FAQ peg</a>
                <button class="btn btn-primary m-2">Button</button>
            </div>
        </div>
   </div>
   <hr>
   <div class="row">
        <div class="col-4 pe-5">
            <div class="card">
                <div class="pt-4 pb-2 px-4">
                    <div class="nav flex-column">
                        <div class="nav-item">
                            <div class="card">
                                <a href="/skills" class="nav-link">Home peg</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link active">Bootstrap</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card mb-2">
                                <a href="#" class="nav-link disabled">FAQ peg</a>
                            </div>
                            <button class="btn btn-primary mb-2">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/skills">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/skills">PC </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/skills">CD</a>
                        </li>
                        <li class="breadcrumb-item">
                        MacBook
                        </li>
                    </ol>
                </div>
                <div class="col-12">
                    <h6>Hello world <span class="badge text-bg-primary">NEV</span></h6>
                    <h5>Hello world <span class="badge text-bg-warning rounded-pill text-capitalize">Тор продаж</span></h5>
                    <h6 class="m-0">Hello world <span class="badge text-bg-warning rounded-pill text-uppercase">Тор продаж</span></h6>
                </div>
                <div>
                   <button class="btn btn-primary rounded-pill my-3 mx-3 ms-0">Click my</button> 
                   <div class="alert alert-primary">This is important info</div>
                </div>
                <div>
                    <div class="alert alert-warning">
                       <div class="col-12">
                            <div>
                                <h6>Hello world <span class="badge text-bg-primary">NEV</span></h6>
                                <h5>Hello world <span class="badge text-bg-warning rounded-pill text-capitalize">Тор продаж</span></h5>
                                <h6>Hello world <span class="badge text-bg-warning rounded-pill text-uppercase">Тор продаж</span></h6>
                            </div>
                            <div>
                                < 
                            </div>
                         </div>
                    </div>
                </div>button class="btn btn-primary rounded-pill">Click my</button>
            </div>
        </div>
    </div>
    <hr>
     <div class="row g-5">
     <div class="col-12">
        <div>
            <label class="form-label">Email address</label>
            <input class="form-control">
            <div class="form-text text-danger">Error. You need to set correct email</div>
        </div> 
     </div>
     <hr>
   </div>
   <div class="">
     <div class="mb-5">
         <label class="form-label">Email address</label>
         <input class="form-control">
         <div class="form-text text-danger">Error. You need to set correct email</div>
     </div>
    <br>
     <div class="mb-5">
         <label class="form-label">Email address</label>
         <input disabled class="form-control">
         <div class="form-text text-danger">Error. You need to set correct email</div>
     </div>
     <div>
         <label class="form-label">Email address</label>
         <input type="color" class="form-control">
         <div class="form-text text-danger">Error. You need to set correct email</div>
     </div>
   </div>
</main>
<hr>
<main class="p-5">
   <label class="form-label">Email address</label>
   <input type="color" class="form-control">
   <div class="form-text text-danger">Error. You need to set correct email</div>
</main>
<hr>
<main class="p-5">
    <div class="row g-5">
      <div class="col-12">
            <label class="form-label">Email address</label>
            <div class="row">
               <div class="col-3">
                  <input class="form-control">
               </div>
            </div>
            <div class="form-text text-danger">Error. You need to set correct email</div>
      </div>
      <div class="col-6">
            <label class="form-label">Email address</label>
            <input type="color" class="form-control">
            <div class="form-text text-danger">Error. You need to set correct email</div>
      </div>
      <div class="col-12">
         <div class="row">
            <div class="col-3 pt-1">
               <label class="form-label">Email address</label>
            </div>
            <div class="col-1">
               <input class="form-control form-control-sm" placeholde="placeholder">
            </div>
            <div class="col-2">
               <input class="form-control form-control-lg placeholde="placeholder"">
            </div>
            <div class="col-6 ps-5" pt-1>
               <div class="form-text text-danger">Error. You need to set correct email</div>
            </div>
         </div>
         <div>
            <hr>
         </div>
         <div class="col-12 mb-5">
            <label class="form-label">Seleect role</label>
            <select class="form-select">
               <option selected> Open List</option>
               <option value="1">Admin</option>
               <option value="2">User</option>
               <option value="3">User2</option>
            </select>
         </div>
          <div class="col-12">
            <label class="form-label">Seleect role</label>
            <select class="form-select form-select-sm">
               <option selected> Open List</option>
               <option value="1">Admin</option>
               <option value="2">User</option>
               <option value="3">User2</option>
            </select>
         </div>
          <div class="col-12 mt-3">
            <label class="form-label">Seleect role</label>
            <select class="form-select form-select-lg">
               <option selected> Open List</option>
               <option value="1">Admin</option>
               <option value="2">User</option>
               <option value="3">User2</option>
            </select>
         </div>
          <div>
            <hr>
         </div>
         <div class="col-12">
            <label class="form-label">Seleect food</label>
            <div class="form-check">
               <label class="form-check-label">Apple</label>
               <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
               <label class="form-check-label">Banana</label>
               <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
               <label class="form-check-label">Orange</label>
               <input name="food" type="checkbox" class="form-check-input">
            </div>
         </div>
          <div>
            <hr>
         </div>
         <div class="col-12">
            <label class="form-label">Seleect food</label>
            <div class="form-check">
               <label class="form-check-label">Apple</label>
               <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
               <label class="form-check-label">Banana</label>
               <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
               <label class="form-check-label">Banana</label>
               <input name="food1" type="radio" class="form-check-input">
            </div>
         </div>
         <div>
            <hr>
         </div>
         <div class="col-12">
            <label class="form-label">Get bonus</label>
            <div class="form-check">
               <label class="form-check-label">Yes</label>
               <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
               <label class="form-check-label">No</label>
               <input name="food" type="radio" class="form-check-input">
            </div>
           <div class="form-check form-switch">
               <label class="form-check-label">Get bonus</label>
               <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check form-switch">
               <label class="form-check-label">Get Sales</label>
               <input name="food" type="checkbox" class="form-check-input">
            </div>
         </div>
      </div>
    </div>
</main>