<main>
   <h1>Hello world</h1>
   <h1>Second</h1>
   <h1>3 title</h1>
   <hr>
   <div class="display-1">Hello world "display-1"</div>
    <div class="display-1" class="text-muted" >Hello world "display-1" class="text-muted"</div>
   <div class="display-5">Second  "display-5"</div>
   <div class="display-6">3 title  "display-6"</div>
   <hr>
   <div class="text-end">
    <span class="text-muted">додатковий текст "text-muted"</span>
   </div>
   <span class="text-muted">додатковий текст "text-muted"</span>
   <div class="text-end text-muted">
    додатковий<span class="display-6">текст</span>
   </div>
    <hr>
    <h1 class="text-centr">Hello world class="text-centr"</h1>
   <h1 class="text-end">Second class="text-end"</h1>
   <hr>
   <h1 class="text-uppercase">Hello world</h1>
   <h1 class="text-lowercase">Second</h1>
   <h1 class="text-capitalize">3 title plus</h1>
   <hr>
   <button class="btn btn-primary">
    <span class="text-uppercase">Основна кнопка btn-primary</span>
    <h1>Test</h1>
   </button>
   <br>
   <button class="btn btn-secondary"> Додаткові дії сірий колір btn-secondary</button>
   <br>
   <button class="btn btn-success"> Зелений успішний колір btn-success</button>
   <br>
   <button class="btn btn-danger"> Небеспечний червоний колір btn-danger</button>
   <br>
   <button class="btn btn-warning"> Перевірка попередження жовтий колір btn-warning</button>
   <br>
   <button class="btn btn-info"> Інформація блакитний колір дії btn-info</button>
   <br>
   <button class="btn btn-light"> Світлий колір базова прозора дії btn-light</button>
   <br>
   <button class="btn btn-dark"> Темний колір базова темна btn-dark</button>
   <br>
   <button class="btn btn-link"> Кнопка з виглядом посилання btn-link</button>
   <br>
   <a href="#" class="btn btn-primary"> Кнопка є посиланє a href="#" class="btn btn-primary"</a>
   <hr>
   <p class="text-primary">p class="text-primary"</p>
   <p class="text-success">class="text-success"</p>
   <p class="text-secondary">class="text-secondary"</p>
   <p class="text-danger">class="text-danger"</p>
   <p class="text-warning">class="text-warning"</p>
   <p class="text-info">class="text-info"</p>
   <p class="text-light">class="text-light"</p>
   <p class="text-dark">class="text-dark"</p>
   <hr>
   <b>Додаткові кнопки</b>
   <button class="btn btn-outline-primary"> Додаткові дії сірий колір btn-outline-primary</button>
   <br>
   <button class="btn btn-outline-secondary"> Додаткові дії сірий колір btn-outline-secondary</button>
   <br>
   <button class="btn btn-outline-success"> Зелений успішний колір btn-outline-success</button>
   <br>
   <button class="btn btn-outline-danger"> Небеспечний червоний колір btn-outline-danger</button>
   <br>
   <button class="btn btn-outline-warning"> Перевірка попередження жовтий колір btn-outline-warning</button>
   <br>
   <button class="btn btn-outline-info"> Інформація блакитний колір дії btn-outline-info</button>
   <br>
   <button class="btn btn-outline-light"> Світлий колір базова прозора дії btn-outline-light</button>
   <br>
   <button class="btn btn-outline-dark"> Темний колір базова темна btn-outline-dark</button>
   <hr>
   <button class="btn btn-outline-primary btn-lg"> Велика кнопка btn-outline-primary btn-lg</button>
   <br>
   <button class="btn btn-outline-secondary btn-sm"> мала кнопка btn-outline-secondary btn-sm</button>
   <br>
   <button class="btn btn-outline-dark"> звичайна кнопка btn-outline-dark</button>
   <hr>
   <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary btn-lg"> Велика кнопка btn-outline-primary btn-lg</button>
            <br>
            <br>
            <button class="btn btn-outline-secondary btn-sm"> мала кнопка btn-outline-secondary btn-sm</button>
            <br>
            <br>
            <button class="btn btn-outline-dark"> звичайна кнопка btn-outline-dark</button>
            <br>
        </div>
   </div>
   <br>
   <br>
    <div class="card">
        <div class="card-body">
            This is content
        </div>
   </div>
   <div class="card">
        <div class="card-body">
            This is content
            <br>
            <button class="btn btn-outline-primary btn-lg">Велика</button>
            <button class="btn btn-outline-secondary btn-sm"> мала</button>
            <button class="btn btn-outline-dark">звичайна</button>
        </div>
   </div>
</main>