<footer>
    <hr class="my-5">
    {{#with footer}}
    <div>
        {{#with social}}
            {{> link text=email.text href=email.href blank=true }}
            {{> link text=phone.text href=phpne.href blank=true }}
            {{> link text=linkedin.text href=linkedin.href blank=true noLine=true}}
        {{/with}}
    </div>
    {{/with}}
    <div class="my-3">
        <em>Copyright by {{firstname}} {{lastname}}</em>
    </div>
    <br>
    <div>
        {{address}}
    </div>
</footer>
